<div class="list-header">
  <div class="list_header-box">
    <div class="first_part">
      <div class="logo">
        <%#= cl_image_tag ("lists/fr_logos/poknroll_#{@list.code}_fr_logo.png") %>
        <%= image_tag("flag/#{@list.flag}.png", height: "20") %>
      </div>
      <div class="name_and_symbol">
        <div class="name">
          <h4><%= @list.name %></h4>
        </div>
        <div class="symbol">
          <%#= cl_image_tag ("lists/symbols/poknroll_#{@list.code}_symbol.png"), class: "symbol-list" %>
        </div>
      </div>
    </div>
    <div class="second_part">
      <div class="size_and_secrets">
        <div class="intro">
          <p>Cette série contient : </p>
        </div>
        <div class="numbers">
          <% if @list.secrets_count > 1 %>
            <p> <%= @list.size %> cartes et <%=  @list.secrets_count %> secrètes</p>
          <% elsif @list.secrets_count == 1 %>
            <p> <%= @list.size %> cartes et 1 secrète</p>
          <% else %>
            <p> <%= @list.size %> cartes et aucune secrète</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
