<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th> Nom </th>
      <th> Numéro </th>
      <th> Rareté </th>
      <th> Vendre </th>
      <th> Rechercher </th>
    </tr>
  </thead>
  <tbody>
    <% @list.ref_cards.order("id asc").each do |ref_card| %>
      <tr>
        <td>
          <% if ref_card.fr_name.present? %>
            <%= ref_card.fr_name %>
          <% else %>
            <%= ref_card.us_name %>
          <% end %>
        </td>
        <td>
          <%= ref_card.number %>/<%= @list.size %>
        </td>
        <td>
          <%= ref_card.rarety_type %>
        </td>
        <td>
          <%= link_to "v", new_ref_card_shop_card_path(ref_card), :class => "btn btn-success btn-sm"%>
        </td>
        <td>
          <%= link_to "r", new_ref_card_search_card_path(ref_card), :class => "btn btn-success btn-sm"%>
        </td>
      </tr>
    <% end  %>
  </tbody>
</table>
