<% @jap_blocs.each do |bloc| %>
  <div class="bloc-header"><%= bloc.en_name %></div>
  <div class="lists_table-box">
    <table>
      <!-- <tbody> -->
        <% bloc.lists.where(promo: false).order(rank: :desc).each do |list| %>
          <tr class="lists_table">
            <% code_list = list.code %>
            <td id="logo"><%= image_tag(("ref_cards/jap_lists/logos/#{code_list}.png"), class: "logo-list-mini") %></td>
            <% unless @no_symbol_jap_lists.include?(code_list) %>
              <td id="symbol"><%= image_tag(("ref_cards/jap_lists/symbols/#{code_list}.png"), class: "symbol-list-mini") %></td>
            <% else %>
              <td id="symbol"> </td>
            <% end  %>
            <td id="en_name">
              <%= link_to list_path(list), :method => :get do %>
                <%= list.en_name %>
              <% end %>
            </td>
            <td id="jap_name"><%= list.jap_name %></td>
            <td id="size"><%= "/#{list.size}" %></td>
            <!-- <td id="release_date"><%= list.jap_release %></td> -->
          </tr>
        <% end %>
      <!-- </tbody> -->
    </table>
  </div>
<% end %>
