 <div class="container">

  <% if user_signed_in? %>
  <% else %>
    <%= render partial: "lists/home" %>
  <% end %>

  <div class="lists-container">
    <div class="title"><h4>Les séries :</h4></div>
    <div class="blocs-container">
      <% @blocs.each do |bloc| %>
        <div class="bloc-container">
          <div class="bloc-header"><%= bloc.fr_name %></div>

          <div class="bloc-lists">
            <% bloc.lists.order("id ASC").each do |list| %>
              <div class="list-card">
                <%= link_to list_path(list) do %>
                  <%= cl_image_tag ("lists/fr_logos/poknroll_#{list.code}_fr_logo.png"), class: "logo-list-mini" %>
                  <%= cl_image_tag ("lists/symbols/poknroll_#{list.code}_symbol.png"),class: "symbol-list-mini" %>
                <% end  %>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
  </div>

</div>
