<div class="container">


  <div class="card-header-list">
    <h4>
      <%= @list.fr_name %> <%= image_tag(@list.symbol_url, class: "symbol-list")%>
      <%= image_tag(@list.fr_logo_url, class: "logo-list-standard") %>
    </h4>
    <p>Sortie aux États-Unis le <%= @list.us_release_date %>
      / Cette série contient <%= @list.size %> cartes
      <% if @list.ref_cards.where(rarety_type: "Secret").count > 1 %>
       + <%=  @list.ref_cards.where(rarety_type: "Secret").count %> secrêtes
      <% else %>
       et aucune secrête
      <% end %>
    </p>

  </div>

  <div class="cards-container">
    <div class="row"></div>

        <% @list.ref_cards.order("id asc").each do |ref_card| %>
          <div class="col-md-2">
            <div class="card-ref">
              <%= link_to ref_card_path(ref_card) do %>
                <% if ref_card.fr_url.present? %>
                  <%= image_tag(ref_card.fr_url, width: '130', class: "pokemon-card-mini") %>
                <% elsif ref_card.fr_r_url.present? %>
                  <%= image_tag(ref_card.fr_r_url, width: '130', class: "pokemon-card-mini") %>
                <% else %>
                  <%= image_tag(ref_card.us_url, width: '130', class: "pokemon-card-mini") %>
                <% end %>
              <% end  %>
            </div>
          </div>
        <% end  %>

    </div>
  </div>


</div>


