<div class="container">
  <h2><%= @list.fr_name %> <%= image_tag(@list.symbol_url, height: '30')%></h2>
  <%= image_tag(@list.fr_logo_url, width: '250') %>
  <p>Sortie aux États-Unis le <%= @list.us_release_date %></p>
  <p>Cette série contient <%= @list.size %> cartes</p>
  <% @list.ref_cards.where(super_type: "Pokémon").order("id asc").each do |ref_card| %>
    <%= link_to ref_card_path(ref_card) do %>
      <%= image_tag(ref_card.fr_url, width: '150')%>
    <% end  %>
  <% end  %>
</div>



