<div class="container">
  <div class="collection-header">
  <h3>Nombre total de cartes : <%= @collection_cards.count %> cartes</h3>
  <p>Dernières cartes ajoutées :</p>
  </div>

  <div class="collections-cards">

      <% @collection_cards.order("created_at desc").each do |collection_card| %>

        <%= link_to collection_card_path(collection_card) do %>
          <%# if collection_card.picture.first.photo.present? %>
            <%# cl_image_tag @picture.photo,width: 140, crop: :fill %>
          <%# else %>

            <% if collection_card.ph_one.present? %>
              <%= cl_image_tag collection_card.ph_one,width: 130, height: 180, :gravity=>"auto", :crop=>"fill",
              class: "pokemon-card-photo-mini" %>
            <% elsif collection_card.ref_card.fr_url.present? %>
              <%= image_tag(collection_card.ref_card.fr_url, width: '130', class: "pokemon-card-mini") %>
            <% elsif collection_card.ref_card.fr_r_url.present? %>
              <%= image_tag(collection_card.ref_card.fr_r_url, width: '130', class: "pokemon-card-mini") %>
            <% else %>
              <%= image_tag(collection_card.ref_card.us_url, width: '130', class: "pokemon-card-mini") %>
            <% end %>

          <%# end %>
        <% end %>
      <% end %>

  </div>
</div>
