<div class="container">
  <h1>Ajouter <%= @ref_card.fr_name %></h1>

  <%= simple_form_for [@ref_card, @collection_card] do |f| %>
    <%= f.input :reved %>
    <%= f.input :condition %>
    <%= f.input :language %>
    <%= f.submit "add to my collection", class: "btn btn-primary" %>
  <% end %>
</div>
