<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <h5><%= @ref_card.fr_name %> ( <%= @ref_card.list.fr_name %> )</h5>
      <% if @ref_card.fr_url.present? %>
        <%= image_tag(@ref_card.fr_url, width: '130', class: "pokemon-card-mini") %>
      <% elsif @ref_card.fr_r_url.present? %>
        <%= image_tag(@ref_card.fr_r_url, width: '130', class: "pokemon-card-mini") %>
      <% else %>
        <%= image_tag(@ref_card.us_url, width: '130', class: "pokemon-card-mini") %>
      <% end %>

      <%= simple_form_for [@ref_card, @collection_card] do |f| %>
        <%= f.input :reved, label: "reverse / édition 1" %>
        <%= f.label(:condition, "état") %>
        <%= f.select :condition, options_for_select([["Mauvais", 1], ["Moyen", 2], ["Bon", 3], ["Très bon", 4], ["Neuf", 5]],
        ["Bon", 3])%>
        <%= f.label(:language, "langue") %>
        <%= f.select :language, options_for_select(
          ["français", "anglais", "allemand", "italien", "espagnol", "japonais" ],
          ["français"]) %>
        <%= f.input :ph_one, label: "recto" %>
        <%= f.input :ph_one_cache, as: :hidden %>
        <%= f.input :ph_two, label: "verso" %>
        <%= f.input :ph_two_cache, as: :hidden %>

        <%= f.submit "Ajouter à ma collection", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
