<div class="container">
  <h1>Ma collection</h1>

  <div class="collections-cards">
    <div class="row">
      <% @collection_cards.each do |collection_card| %>
        <div class="col-md-2">
          <div class="collection-card">
            <% if collection_card.ref_card.fr_url.present? %>
              <%= image_tag(collection_card.ref_card.fr_url, class: "card-ref pokemon-card-mini") %>
            <% elsif collection_card.ref_card.fr_r_url.present? %>
              <%= image_tag(collection_card.ref_card.fr_r_url, class: "card-ref pokemon-card-mini") %>
            <% else %>
              <%= image_tag(collection_card.ref_card.us_url, class: "card-ref pokemon-card-mini") %>
            <% end %>
            <%= collection_card.ref_card.fr_name %>
            <%= collection_card.condition %>
            <%= collection_card.language %>
            <%= link_to 'Retirer', collection_card_path(collection_card),
            :class => "btn btn-danger", method: :delete,
             data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
