<div class="container">
  <% if @collection_card.ref_card.fr_name.present? %>
    <h4><%= @collection_card.ref_card.fr_name %>/<%= @collection_card.ref_card.list.fr_name %></h4>
  <% else %>
    <h4><%= @collection_card.ref_card.us_name %>/<%= @collection_card.ref_card.list.fr_name %></h4>
  <% end %>

  <%= cl_image_tag @collection_card.ph_one,width: 217,height: 280, :gravity=>"auto", :crop=>"fill",
  class: "pokemon-card-photo-standard"%>

  <p> État : <%= @collection_card.condition %>/10 </p>
  <p> Langue : <%= @collection_card.language %></p>

  <%# link_to 'Modifier', new_collection_path(@collection_card), :class => "btn btn-success" %>
  <%= link_to 'Retirer', collection_card_path(@collection_card),
  :class => "btn btn-danger", method: :delete,
   data: { confirm: 'Are you sure?' } %>

</div>
