<div class="container">
  <h6><%= "Nom:" %></h6>
  <h6><%= "Bloc:       Série:" %></h6>
  <h6><%= "Holographique: Rare: Unco: Co:" %></h6>
  <h6><%= "Pokémon: Dresseur: Énergie:" %></h6>
  <h6><%= "Artist:" %></h6>
  <h6><%= "Trier par:  numéro de série / numéro du pokedex" %></h6>

  <% @ref_cards.where(ultra_type: "GX").shuffle.each do |ref_card| %>
    <%= link_to ref_card_path(ref_card) do %>
      <% if ref_card.fr_url.present? %>
        <%= image_tag(ref_card.fr_url, width: '100') %>
      <% elsif ref_card.fr_r_url.present? %>
        <%= image_tag(ref_card.fr_r_url, width: '100') %>
      <% else %>
        <%= image_tag(ref_card.us_url, width: '100') %>
      <% end %>
    <% end %>
  <% end  %>
</div>
