<div class="container">
  <% if @ref_card.fr_name.present? %>
    <h4><%= @ref_card.fr_name %></h4>
  <% else %>
    <h4><%= @ref_card.us_name %></h4>
  <% end %>


  <% if @ref_card.pokedex_number.present? %>
    <p>Numéro Pokédex : <%= @ref_card.pokedex_number %></p>
  <% end %>


  <% if @ref_card.fr_url.present? %>
    <%= image_tag(@ref_card.fr_url, class: "pokemon-card-standard") %>
    <p>Version normale française</p>
  <% elsif @ref_card.fr_r_url.present? %>
    <%= image_tag(@ref_card.fr_r_url, class: "pokemon-card-standard") %>
    <p>Version reverse/édition1 française</p>
  <% else %>
    <%= image_tag(@ref_card.us_url, class: "pokemon-card-standard") %>
    <p>Version anglaise</p>
  <% end %>
  <%= link_to "Je l'ai !", new_ref_card_collection_card_path(@ref_card), :class => "btn btn-success"%>
  <%= link_to "Rechercher", new_ref_card_search_card_path(@ref_card), :class => "btn btn-success"%>
</div>
