<div class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="ref_card-content">

      <div class="ref_card-visual">
        <%= cl_image_tag ("lists/visuals/#{@ref_card.list.bloc.cl_name}/#{@ref_card.list.code}/#{@ref_card.rank}.jpg"), class: "standard" %>
      </div>

      <div class="ref_card-body">
        <div class="ref_card-infos">
          <h4><%= @ref_card.right_name %></h4>

          <% if @ref_card.number.present? %>
            <p>Numéro : <%= @ref_card.number %></p>
          <% else %>
            <p>Carte non numérotée</p>
          <% end %>
          <% if @ref_card.rarety_type.present? %>
            <p>Rareté : <%= @ref_card.rarety_label %></p>
          <% end %>

          <% if @ref_card.artist.present? %>
            <p>Illustrée par <%= @ref_card.artist %></p>
          <% end %>
        </div>
        <div class="ref_card-buttons">
          <% if current_user %>
            <%= link_to "Vendre", new_ref_card_card_path(@ref_card, type: "Shop_item"), :class => "btn btn-classic btn-sm border-yellow"%>
            <%= link_to "Rechercher", new_ref_card_card_path(@ref_card, type: "Search_item"), :class => "btn btn-classic btn-sm border-yellow"%>
          <% else  %>
            <p>Vous devez vous inscrire </br>
               pour ajouter cette carte </br>
               dans votre magasin ou vos recherches...
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
