<div class="container">
  <div class="ref_card-box">
    <div class="ref_card-visual">
      <%= image_tag(@ref_card.best_url, class: "standard") %>
    </div>
    <div class="ref_card-infos">
      <div class="ref_card-fr_name">
        <%= @ref_card.fr_name %>
      </div>
      <div id="ref_card-en_name" >
        <%= @ref_card.en_name %>
      </div>
      <div id="ref_card-number">
        <%= @ref_card.number %>
      </div>
      <div id="ref_card-list_en_name">
        <%= @ref_card.list.fr_name %>
      </div>
      <div id="ref_card-artist">
        <%= "Illustrée par #{@ref_card.artist}" %>
      </div>
    </div>
    <div class="ref_card-sellers">
      <%= "Vendue par :" %>
    </div>
  </div>
</div>
