<div class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="ref_card-content">

      <div class="ref_card-visual">
        <%= image_tag(@ref_card.right_url[0], class: "standard") %>
      </div>

      <div class="ref_card-body">
        <div class="ref_card-infos">
          <h4><%= @ref_card.right_name %></h4>

          <% if @ref_card.number.present? %>
            <p>Numéro : <%= @ref_card.number %>/<%= @ref_card.list.size %></p>
          <% end %>

          <% if @ref_card.rarety_type == "Ultra"  %>
           <p>Rareté : <%= @ref_card.ultra_type %></p>
          <% else %>
            <p>Rareté : <%= @ref_card.rarety_type %></p>
          <% end %>

          <% if @ref_card.artist.present? %>
            <p>Illustrée par <%= @ref_card.artist %></p>
          <% end %>
        </div>
        <div class="ref_card-buttons">
          <%= link_to "Vendre", new_ref_card_card_path(@ref_card, type: "Shop_item"), :class => "btn btn-classic btn-sm border-yellow"%>
        </div>
      </div>
    </div>
  </div>
</div>
