<div class="his_list-container">
  <div class="his_list-header"><h4>nombre de cartes : X / valeur : X</h4></div>
  <div class="visuals-container">
    <% if @conversation.recipient_id == current_user.id %>
      <% @conversation.sender.selected_cards.each do |selected_card| %>
        <% if selected_card.shop_card.user_id == current_user.id %>
          <div class="card-element">
            <%= link_to shop_card_path(selected_card.shop_card) do %>
              <% if selected_card.shop_card.ph_one.present? %>
                <div class="visual">
                  <%= cl_image_tag selected_card.shop_card.ph_one, :gravity=>"auto", :crop=>"fill",
                  :transformation=>[
                  {:width=>500, :crop=>"scale"},
                  {:overlay=>{:font_family=>"Arial", :font_size=>50,
                  :text=>"#{selected_card.shop_card.user.first_name} #{selected_card.shop_card.user.last_name}"},
                  :gravity=>"south", :y=>100}
                  ], class: "mini"%>
                </div>
              <% end %>
            <% end %>
            <div class="price">
              <%= selected_card.shop_card.price %> €
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% @conversation.recipient.selected_cards.each do |selected_card| %>
        <% if selected_card.shop_card.user_id == current_user.id %>
          <div class="card-element">
            <%= link_to shop_card_path(selected_card.shop_card) do %>
              <% if selected_card.shop_card.ph_one.present? %>
                <div class="visual">
                  <%= cl_image_tag selected_card.shop_card.ph_one, :gravity=>"auto", :crop=>"fill",
                  :transformation=>[
                  {:width=>500, :crop=>"scale"},
                  {:overlay=>{:font_family=>"Arial", :font_size=>50,
                  :text=>"#{selected_card.shop_card.user.first_name} #{selected_card.shop_card.user.last_name}"},
                  :gravity=>"south", :y=>100}
                  ], class: "mini"%>
                </div>
              <% end %>
            <% end %>
            <div class="price">
              <%= selected_card.shop_card.price %> €
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

