<div class="good_users-container">
    <% @good_shop_cards_count_by_users.each do |good_shop_cards_count_by_user| %>
      <div class="row">
        <div class="good_user-header">
          <%= User.find_by(id: good_shop_cards_count_by_user[0]).first_name %>
          <%= User.find_by(id: good_shop_cards_count_by_user[0]).last_name %>
          <%= "vend #{good_shop_cards_count_by_user[1]} cartes que tu recherches" %>
          <%= " (#{@good_shop_cards.select{|good_shop_card| good_shop_card.user_id == good_shop_cards_count_by_user[0]}.sum(&:price)} €)" %>
          <%= link_to "Voir" ,user_path(good_shop_cards_count_by_user[0]) %>
        </div>
      </div>
    <% end %>
