<div class="col-md-offset-2 col-md-8">
  <div class="users-container">
    <% @tot_shop_cards_count_by_user.each do |user_id, tot| %>
      <div class="user-card">
        <%=  link_to user_path(user_id) do %>
          <%= User.find_by(id: user_id).first_name %>
          <%= User.find_by(id: user_id).last_name %>
        <% end %>
        <% if tot > 1 %>
          <%= "#{tot} cartes" %>
        <% else %>
          <%= "#{tot} carte" %>
        <% end %>
        <% if @good_shop_cards_count_by_user[user_id].present? %>
          <%= " dont #{@good_shop_cards_count_by_user[user_id]}" %>
          <%= image_tag("icone_match.png", class: "icone-match") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
