<div class="container">

  <%= render partial: "conversations/header" %>
  <div class="col-md-offset-2 col-md-8">
    <div class="conversations-body">
      <% @conversations.each do |conversation| %>
        <div class="conversation-element">
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            <% unless current_user.id == recipient %>
              <%= "#{recipient.first_name} #{recipient.last_name}"%>
              <% if conversation.messages.count == 1 %>
                <%= conversation.messages.count %> message
              <% elsif %>
                <%= conversation.messages.count %> messages
              <% end %>
              <%= link_to "Voir", conversation_messages_path(conversation) %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
