<% unless @shop_cards_count == 0 %>

  <div class="shop_cards">
    <div class="shop_cards-header">
      <%= "#{@shop_cards.count} cartes en vente" %>
    </div>
    <div class="shop_cards-body">
      <% @shop_cards.each do |shop_card| %>
        <div class="shop_cards-card">
          <%= link_to card_path(shop_card) do %>
            <div>
              <%= cl_image_tag shop_card.item.ph_one, class: "shop_cards-photo" %>
            </div>
          <% end %>
          <div class="shop_cards-infos">
            <div class="shop_cards-name">
              <%= "#{shop_card.ref_card.fr_name}" %>
            </div>
            <div class="shop_cards-list">
              <%= "#{shop_card.ref_card.list.fr_name}" %>
            </div>
            <div class="shop_cards-price">
              <%= "#{shop_card.item.value}€" %>
            </div>
            <div class="shop_cards-created_at">
              <%= shop_card.item.online_date %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center"><%== pagy_bootstrap_nav(@pagy) %></div>
  </div>
<% end %>
