<div class="user-header">
  <%= @var %>
  <%= @hash %>
  <%= @test %>
  <%= form_for(cards_path, method: :get)  do %>
    <div class="sort-form">
      <div class="first-part">
        <div class="input-content">
          <div class="form-label">Trier par série</div>
          <%= select_tag :list,
            options_for_select(
              @lists_available,
              params[:list] ), class: "form-input form-select"
          %>
        </div>
        <!-- <div class="input-content">
          <div class="form-label">Version</div>
          <%#= select_tag :version,
            options_for_select(
              @versions_available,
              params[:version] ), class: "form-input form-select"
          %>
        </div> -->
        <!-- <div class="input-content">
          <div class="form-label">Rareté</div>
          <%#= select_tag :rarety_type,
            options_for_select(
              @rarety_types_available,
              params[:rarety_type] ), class: "form-input form-select"
          %>
        </div> -->
        <!-- <div class="input-content">
          <div class="form-label">Rechercher un nom</div>
          <%#= text_field_tag :name,
          params[:name],
          class: "form-input",
          placeholder: "Nom de carte..."
          %>
        </div> -->
        <div class="input-content">
          <div class="form-label">Classer les cartes</div>
          <%= select_tag :sort,
            options_for_select([
              ["les plus récentes", "recent"],
              ["les moins chères", "lower_to_higher_price"],
              ["les plus chères", "higher_to_lower_price"],
              ["en meilleur état", "best_condition"],
              ["en moins bon état", "worst_condition"],
              ["par numéro", "ranked"]
              ],
              params[:sort] ), class: "form-input form-select"
          %>
        </div>
      </div>
      <div class="second-part">
        <div class="form-submit">
          <%= submit_tag 'Trier', class: "btn btn-classic btn-sm border-yellow"%>
        </div>
      </div>
    </div>
  <% end %>
  <h3>
    <% unless @user == current_user %>
      <%= "#{@user.first_name}" %>
      <%= "#{@user.last_name}" %>
      <h5><%= "#{@shop_cards_count} cartes disponibles" %></h5>
    <% else %>
      <%= "Mon magasin" %>
      <h5><%= "#{@shop_cards_count} cartes : #{@shop_cards_value}€" %></h5>
    <% end %>
  </h3>
</div>
