<div class="container">
  <nav class="navbar">

    <%= link_to "Pok'n'Roll", lists_path, class: "navbar-item" %>
    <%# link_to "Vendre une carte", new_shop_card_path, class: "navbar-item" %>
    <%= link_to "Offres", shop_cards_path, class: "navbar-item" %>
    <%= link_to "Séries", lists_path, class: "navbar-item" %>
    <%# link_to "Rechercher", ref_cards_path, class: "navbar-item"%>
    <%= link_to "Recherches", search_cards_path, class: "navbar-item"%>
    <%= link_to "Collection", collection_cards_path, class: "navbar-item"%>

  </nav>
</div>

