<div class="navbars">
  <nav class="main-navbar">

    <%= link_to root_path do %>
      <div class="navbar-item">
        <%= image_tag("mini_logo_pnr.png", class: "mini-logo") %>
        <%= image_tag("name_pnr.png", class: "startup-name") %>
      </div>
    <% end %>

    <% if user_signed_in? %>

      <div class="navbar-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="current_user_name-navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>


    <% else %>
      <div>
        <%= link_to "Connexion", new_user_session_path, class: "navbar-item"%>
      </div>
    <% end %>


  </nav>

  <% if user_signed_in? %>
    <nav class="user-navbar">
      <div class="computer-item"><%= link_to "Annonces", feeds_path, class: "navbar-item" %></div>
      <div class="phone-item">
        <%= link_to feeds_path do %>
          <%= image_tag("icone_annonces.png", class: "icone") %>
        <% end %>
      </div>
      <div class="computer-item"><%= link_to "Mon magasin", shop_cards_path, class: "navbar-item" %></div>
      <div class="phone-item">
        <%= link_to shop_cards_path do %>
          <%= image_tag("icone_magasin.png", class: "icone") %>
        <% end %>
      </div>
      <div class="computer-item"><%= link_to "Mes recherches", search_cards_path, class: "navbar-item"%></div>
      <div class="phone-item">
        <%= link_to search_cards_path do %>
          <%= image_tag("icone_recherches.png", class: "icone") %>
        <% end %>
      </div>
      <div class="computer-item"><%= link_to "Mon panier", selected_cards_path, class: "navbar-item"%></div>
      <div class="phone-item">
        <%= link_to selected_cards_path do %>
          <%= image_tag("icone_panier.png", class: "icone") %>
        <% end %>
      </div>
      <div class="computer-item">
        <% if Message.unread_by(current_user).count > 0 %>
          <%= link_to "Mes messages (+#{Message.unread_by(current_user).count})", conversations_path, class: "navbar-item"%>
        <% else %>
          <%= link_to "Mes messages", conversations_path, class: "navbar-item"%>
        <% end %>
      </div>

      <div class="phone-item">
        <%= link_to conversations_path do %>
          <%= image_tag("icone_messages.png", class: "icone") %>
        <% end %>
        <% if Message.unread_by(current_user).count > 0 %>
          <%= "(+#{Message.unread_by(current_user).count})" %>
        <% end %>
      </div>
    </nav>
  <% end %>
</div>


