<div class="shop_cards_by_list-container">


    <% @lists.each do |list| %>
      <% if list.shop_cards.where(user_id: current_user.id).count > 0 %>
        <div class="dropdown">
          <div class="btn btn-secondary dropdown-toggle list-header_mini" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div id="list-name">
              <%= list.fr_name %>
              <%= "(#{list.size})" %>
            </div>
            <div id=list-symbol>
              <%= image_tag(list.symbol_url, height: '20')%>
            </div>
            <div id="how_many">
              <%= list.shop_cards.where(user_id: current_user.id).count %>
            </div>
          </div>

          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

              <table>

                  <tr class="dropdown-item header-item">
                    <th id="version-sh">version</th>
                    <th id="number-sh">n°</th>
                    <th id="type-sh">type</th>
                    <th id="rarety-sh">rareté</th>
                    <th id="name-sh">nom</th>
                    <th id="price-sh">prix</th>
                    <th id="language-sh">langue</th>
                    <th id="close-sh">retirer</th>
                  </tr>

                <% list.shop_cards.where(user_id: current_user.id).order("ref_card_id asc").each do |shop_card| %>

                  <tr class="dropdown-item">
                    <td id="version-sh">
                      <% if shop_card.reved? %>
                        <% if shop_card.ref_card.list.reved_name == "reverse" %>
                          <%= "R" %>
                        <% else %>
                          <%= "Éd1" %>
                        <% end %>
                      <% else %>
                        <%= "N" %>
                      <% end %>
                    </td>
                    <td id="number-sh"><%= shop_card.ref_card.number %></td>
                    <td id="type-sh">
                      <% if shop_card.ref_card.super_type == "Pokémon" %>
                        <% if shop_card.ref_card.energy_type.us_name == "Grass" %>
                          <%= image_tag("energy/grass.png", height: "15") %>
                        <% elsif shop_card.ref_card.energy_type.us_name == "Fire"%>
                          <%= image_tag("energy/fire.png", height: "15") %>
                        <% elsif shop_card.ref_card.energy_type.us_name == "Lightning"%>
                          <%= image_tag("energy/lightning.png", height: "15") %>
                        <% elsif shop_card.ref_card.energy_type.us_name == "Fighting"%>
                          <%= image_tag("energy/fighting.png", height: "15") %>
                        <% elsif shop_card.ref_card.energy_type.us_name == "Metal"%>
                          <%= image_tag("energy/metal.png", height: "15") %>
                        <% elsif shop_card.ref_card.energy_type.us_name == "Darkness"%>
                          <%= image_tag("energy/darkness.png", height: "15") %>
                        <% elsif shop_card.ref_card.energy_type.us_name == "Water"%>
                          <%= image_tag("energy/water.png", height: "15") %>
                        <% elsif shop_card.ref_card.energy_type.us_name == "Fairy"%>
                          <%= image_tag("energy/fairy.png", height: "15") %>
                        <% elsif shop_card.ref_card.energy_type.us_name == "Psychic"%>
                          <%= image_tag("energy/psychic.png", height: "15") %>
                        <% elsif shop_card.ref_card.energy_type.us_name == "Colorless"%>
                          <%= image_tag("energy/colorless.png", height: "15") %>
                        <% elsif shop_card.ref_card.energy_type.us_name == "Dragon"%>
                          <%= image_tag("energy/dragon.png", height: "15") %>
                        <% end %>
                      <% elsif shop_card.ref_card.super_type == "Trainer"%>
                        <%= image_tag("rarety_types/trainer.png", height: "15") %>
                      <% elsif shop_card.ref_card.super_type == "Energy"%>
                        <%= image_tag("rarety_types/energy.png", height: "15") %>
                      <% end %>
                    </td>
                    <td id="rarety-sh">
                      <% if shop_card.ref_card.rarety_type == "Common"%>
                        <%= image_tag("rarety_types/common.png", height: "10") %>
                      <% elsif shop_card.ref_card.rarety_type == "Uncommon"%>
                        <%= image_tag("rarety_types/uncommon.png", height: "10") %>
                      <% elsif shop_card.ref_card.rarety_type == "Rare"%>
                        <%= image_tag("rarety_types/rare.png", height: "10") %>
                      <% elsif shop_card.ref_card.rarety_type == "Rare Holo"%>
                        <%= image_tag("rarety_types/holo.png", height: "10") %>
                      <% elsif shop_card.ref_card.rarety_type == "Ultra"%>
                        <%= image_tag("rarety_types/ultra.png", height: "10") %>
                      <% elsif shop_card.ref_card.rarety_type == "Secret"%>
                        <%= image_tag("rarety_types/secret.png", height: "10") %>
                      <% end %>
                    </td>
                    <td id="name-sh">
                      <%= link_to shop_card_path(shop_card) do %>
                        <% if shop_card.ref_card.fr_name.present? %>
                          <%= shop_card.ref_card.fr_name %>
                        <% else %>
                          <%= shop_card.ref_card.us_name %>
                        <% end %>
                      <% end  %>
                    </td>
                    <td id="price-sh">
                      <%= shop_card.price %><%= "€" %>
                    </td>
                    <td id="language">
                      <% if shop_card.language == "français" %>
                        <%= cl_image_tag("flags/french.png", :width=>20, :crop=>"scale") %>
                      <% elsif shop_card.language == "anglais" %>
                        <%= cl_image_tag("flags/english.png", :width=>25, :crop=>"scale") %>
                      <% end %>
                    </td>
                    <td id="close-sh">
                      <%= link_to shop_card_path(shop_card), method: :delete do %>
                        <%= image_tag("icone_poubelle.png", class: "icone-delete") %>
                      <% end %>
                    </td>
                  </tr>

                <% end %>
              </table>

          </div>
        </div>
      <% end %>

    <% end %>

</div>
