<div class="shop_cards_by_list-container">

    <% @lists.each do |list| %>
      <div class="dropdown">
        <% if list.shop_cards.where(user_id: current_user.id).count > 0 %>
          <button class="btn btn-secondary dropdown-toggle list-header_mini" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= list.fr_name %>
            <%= "(#{list.size})" %>
            <%= image_tag(list.symbol_url, height: '20')%>
            <%= list.shop_cards.count %>
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <% list.shop_cards.where(user_id: current_user.id).order("ref_card_id asc").each do |shop_card| %>
              <button class="dropdown-item" type="button">
                <table>
                  <tr>
                    <td id="name">
                      <%= link_to shop_card_path(shop_card) do %>
                        <% if shop_card.ref_card.fr_name.present? %>
                          <%= shop_card.ref_card.fr_name %>
                        <% else %>
                          <%= shop_card.ref_card.us_name %>
                        <% end %>
                      <% end  %>
                    </td>
                    <td id="number"><%= shop_card.ref_card.number %></td>
                    <td id="rarety">
                      <% if shop_card.ref_card.rarety_type == "Common"%>
                        <%= "Co" %>
                      <% elsif shop_card.ref_card.rarety_type == "Uncommon"%>
                        <%= "Unco" %>
                      <% elsif shop_card.ref_card.rarety_type == "Rare"%>
                        <%= "Rare" %>
                      <% elsif shop_card.ref_card.rarety_type == "Rare Holo"%>
                        <%= "Holo" %>
                      <% end %>
                    </td>
                    <td id="language"><%= shop_card.language %></td>
                    <td id="version">
                      <% if shop_card.reved? %>
                        <% if shop_card.ref_card.list.reved_name == "reverse" %>
                          <%= "R" %>
                        <% else %>
                          <%= "Éd1" %>
                        <% end %>
                      <% else %>
                        <%= "N" %>
                      <% end %>
                    </td>
                    <td id="close">
                      <%= link_to shop_card_path(shop_card), method: :delete do %>
                        <%= image_tag("icone_poubelle.png", class: "icone-delete") %>
                      <% end %>
                    </td>
                  </tr>
                </table>
              </button>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
