<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= simple_form_for [@ref_card, @shop_card] do |f| %>
        <%= cl_image_tag @shop_card.ph_one,width: 130, height: 180, :gravity=>"auto", :crop=>"fill" %>
        <%= f.input :reved, label: "Reverse / Édition 1" %>
        <%= f.input :condition, label: "État" %>
        <%= f.input :language, label: "Langue" %>
        <%= f.input :price, label: "Prix" %>
        <%= f.input :ph_one, required: true, label: "Recto" %>
        <%= f.input :ph_one_cache, as: :hidden %>
        <%= f.input :ph_two, label: "Verso" %>
        <%= f.input :ph_two_cache, as: :hidden %>
        <%= f.submit "Enregistrer", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
