<div class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="new_shop_card-container">
      <div class="new_shop_card-body">


          <div class="card-visuals">
            <div class="title">
              <h5>Nouvelle annonce :</h5>
              <h5><%= @ref_card.fr_name %></h5>
            </div>
            <div class="visual">
              <% if @ref_card.fr_url.present? %>
                <%= image_tag(@ref_card.fr_url, class: "standard") %>
              <% elsif @ref_card.fr_r_url.present? %>
                <%= image_tag(@ref_card.fr_r_url, class: "standard") %>
              <% else %>
                <%= image_tag(@ref_card.us_url, class: "standard") %>
              <% end %>
            </div>
          </div>




            <%= simple_form_for [@ref_card, @shop_card] do |f| %>
              <div class="shop-form">


                <% if @ref_card.list.reved? %>
                  <% if @ref_card.list.reved_name == "édition 1" %>
                    <div class="reved">
                      <%= f.input :reved, label: "édition 1" %>
                    </div>
                  <% elsif @ref_card.list.reved_name == "reverse" %>
                    <% if @ref_card.rarety_type != "Ultra" %>
                      <% if @ref_card.rarety_type != "Secret" %>
                        <div class="reved">
                          <%= f.input :reved, label: "reverse" %>
                        </div>
                      <% end  %>
                    <% end  %>
                  <% end  %>
                <% end  %>
                <div class="candition_and_language">
                  <div class="condition">
                  <%= f.label(:condition, "état") %>
                  <%= f.select :condition, options_for_select([["Mauvais", 1], ["Moyen", 2], ["Bon", 3], ["Très bon", 4], ["Neuf", 5]],
                  ["Bon", 3]) %>
                  </div>
                  <div class="language">
                    <%= f.label(:language, "langue") %>
                    <%= f.select :language, options_for_select(
                      ["français", "anglais", "allemand", "italien", "espagnol", "japonais" ],
                      ["français"]) %>
                  </div>
                </div>
                <%= f.input :price, required: true, label: "prix" %>
                <%= f.input :ph_one, required: true, label: "recto" %>
                <%= f.input :ph_one_cache, as: :hidden %>
                <%= f.input :ph_two, label: "verso" %>
                <%= f.input :ph_two_cache, as: :hidden %>
                <div class="shop-submit">
                  <%= f.submit "Ajouter à mon magasin", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>



      </div>
    </div>
  </div>
</div>
