<div class="container">
  <div class="col-md-12">
    <div class="shop_card-container">

      <div class="shop_card-header"><h4>Vendeur : <%= @shop_card.user.first_name %></h4></div>
      <div class="shop_card-body">

        <div class="card-visuals" id="shop_card-recto_verso">
          <div id="gallerywrapper">
              <div id="gallery">
                <div id="recto">
                  <div class="visual">
                    <%= cl_image_tag @shop_card.ph_one, :gravity=>"auto", :crop=>"fill",
                    :transformation=>[

                    {:overlay=>{:font_family=>"Arial", :font_size=>50, :text=>"#{@shop_card.user.first_name} #{@shop_card.user.last_name}"},
                    :gravity=>"south", :y=>100}
                    ], class: "standard-photo"%>
                  </div>
                  <% if @shop_card.ph_two.present? %>
                    <a class="other" href="#verso">
                      <%= image_tag("icone_recto_verso.png", class: "icone") %>
                    </a>
                  <% end %>
                </div>
                <div id="verso">
                  <div class="visual">
                    <% if @shop_card.ph_two.present? %>
                      <%= cl_image_tag @shop_card.ph_two, :gravity=>"auto", :crop=>"fill",
                      :transformation=>[

                      {:overlay=>{:font_family=>"Arial", :font_size=>50,
                       :text=>"#{@shop_card.user.first_name} #{@shop_card.user.last_name}"},
                      :gravity=>"south", :y=>100}
                      ], class: "standard-photo"%>
                    <% end %>
                  </div>
                  <a class="other" href="#recto">
                    <%= image_tag("icone_recto_verso.png", class: "icone") %>
                  </a>
                </div>
              </div>
          </div>

        </div>

        <div class="card-infos">
          <% if @shop_card.ref_card.fr_name.present? %>
            <h4><%= @shop_card.ref_card.fr_name %></h4>
          <% else %>
            <h4><%= @shop_card.ref_card.us_name %></h4>
          <% end %>

          <% if @shop_card.ref_card.fr_name.present? %>
            <p>de la série <%= @shop_card.ref_card.list.fr_name %></p>
          <% else %>
            <p>de la série <%= @shop_card.ref_card.list.us_name %></p>
          <% end %>
          <p> Version :
            <% if @shop_card.reved? %>
            <%= @shop_card.ref_card.list.reved_name %>
            <% else %>
            <%= "normale" %>
            <% end %>
          </p>

          <% if @shop_card.condition == 1 %>
            <p>État : Mauvais</p>
          <% elsif @shop_card.condition == 2%>
            <p>État : Moyen</p>
          <% elsif @shop_card.condition == 3%>
            <p>État : Bon</p>
          <% elsif @shop_card.condition == 4%>
            <p>État : Très Bon</p>
          <% else %>
            <p>État : Neuf</p>
          <% end %>

          <p> Langue :
            <% if @shop_card.language == "français" %>
              <%= cl_image_tag("flags/french.png", :width=>30, :crop=>"scale") %>
            <% elsif @shop_card.language == "anglais" %>
              <%= cl_image_tag("flags/english.png", :width=>35, :crop=>"scale") %>
            <% end %>
          </p>
          <p> Prix : <%= "#{@shop_card.price} €" %></p>

          <div class="card-buttons">
            <% if @shop_card.user == current_user %>
              <%= link_to 'Retirer', shop_card_path(@shop_card),
              :class => "btn btn-classic btn-sm border-yellow", method: :delete,
               data: { confirm: 'Are you sure?' } %>

              <%= link_to "Modifier", edit_shop_card_path(@shop_card), class: "btn btn-classic btn-sm border-yellow"%>
            <% else %>
              <% if current_user.selected_cards.where(shop_card_id: @shop_card.id).present? %>
                <p>Déjà dans le panier</p>
              <% else %>
                <%= link_to "Ajouter au panier", selected_cards_path(shop_card_id: @shop_card.id, user_id: current_user.id), method: 'post',
                class: "btn btn-classic btn-sm border-yellow" %>
              <% end %>
              <%= link_to "Voir ses autres cartes", user_path(@shop_card.user),
              class: "btn btn-classic btn-sm border-yellow" %>
            <% end %>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
