<div class="card-buttons">
  <% if user_signed_in? %>
    <% if @shop_card.user == current_user %>
      <%= link_to 'Retirer', shop_card_path(@shop_card),
      :class => "btn btn-classic btn-sm border-yellow", method: :delete,
       data: { confirm: 'Are you sure?' } %>

      <%= link_to "Modifier", edit_shop_card_path(@shop_card), class: "btn btn-classic btn-sm border-yellow"%>
    <% else %>
      <% if current_user.selected_cards.where(shop_card_id: @shop_card.id).present? %>
        <p>Déjà dans le panier</p>
      <% else %>
        <%= link_to "Ajouter au panier", selected_cards_path(shop_card_id: @shop_card.id, user_id: current_user.id),
        method: 'post', class: "btn btn-classic btn-sm border-yellow" %>
      <% end %>
      <%= link_to "Voir ses autres cartes", user_path(@shop_card.user),
      class: "btn btn-classic btn-sm border-yellow" %>
    <% end %>
  <% else %>
    <%= link_to "Ajouter au panier", selected_cards_path(shop_card_id: @shop_card.id), method: 'post',
      class: "btn btn-classic btn-sm border-yellow" %>
    <%= link_to "Voir ses autres cartes", user_path(@shop_card.user),
      class: "btn btn-classic btn-sm border-yellow" %>
  <% end %>
</div>
