<div class="container">
  <% if @shop_cards.count > 0 %>
  <div class="user-header">
    <h4><%= "#{@shop_cards_count} cartes en vente :" %></h4>
  </div>

  <div class="visuals-container">
    <% @shop_cards.order("created_at DESC").each do |shop_card| %>
      <%= link_to card_path(shop_card) do %>
        <div class="card-element shop-element">
          <%= link_to card_path(shop_card.itemable) do %>
            <div class="visual">
              <%= cl_image_tag shop_card.ph_one,
              :gravity=>"auto", :crop=>"fill",  :transformation=>[
              {:width=>500, :crop=>"scale"},
              {:overlay=>{:font_family=>"Arial", :font_size=>50, :text=>"#{shop_card.user.first_name} #{shop_card.user.last_name}"},
               :gravity=>"south", :y=>100}
              ], class: "mini" %>
            </div>
          <% end %>
          <div class="shop-infos">
            <div class="price">
              <%= "#{shop_card.value} €" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="text-center"><%== pagy_bootstrap_nav(@pagy) %></div>
  <% else %>
    <div class="user-header">
      <h4><%= "Aucune carte en vente" %></h4>
    </div>
  <% end %>
</div>
