<div class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="shop_card-content">

        <div class="shop_card-visual">
          <%= cl_image_tag @card.item.ph_one, :gravity=>"auto", :crop=>"fill",
          :transformation=>[

          {:overlay=>{:font_family=>"Arial", :font_size=>50, :text=>"#{@item.user.first_name} #{@item.user.last_name}"},
          :gravity=>"south", :y=>100}
          ], class: "standard-photo"%>
        </div>

        <div class="shop_card-body">

          <div class="shop_card-infos">
            <h4><%= @card.ref_card.right_name %></h4>
            <p><%= @card.ref_card.list.fr_name %></p>


            <p><%= "Version : #{@card.version}" %></p>
            <p><%= @item.condition_label[@item.condition] %></p>
            <p> Prix : <%= "#{@item.value} €" %></p>
            <%# if user_signed_in? && @item.user == current_user %>
              <%# link_to item_path(@item), method: :delete do %>
                <%#= image_tag("icone_poubelle.png", class: "icone-delete") %>
              <%# end %>
            <%# end %>
            <%#= button_to "Ajouter au panier",
              {:controller => "selected_items", :action => "create",
                :item_id => @item.id, :user_id=> current_user.id
              }, :method=>:post, class: "btn btn-classic btn-sm border-yellow"
            %>
          </div>
          <div class="shop_card-buttons">
            <%= link_to "Vendeur : #{@card.item.user.first_name}", user_path(@card.item.user), class: "btn btn-classic btn-sm border-yellow" %>
          </div>
        </div>
    </div>
  </div>
</div>
