<div class="container">
  <div class="col-md-12">
    <div class="shop_card-container">

      <div class="shop_card-header">
        <h4>
          <%= link_to "Vendeur : #{@card.item.user.first_name}", user_path(current_user), class: "btn btn-classic btn-lg" %>
        </h4>
      </div>
      <div class="shop_card-body">

        <div class="card-visuals" id="shop_card-recto_verso">
          <div id="gallerywrapper">
              <div id="gallery">
                <div id="recto">
                  <div class="visual">
                    <%= cl_image_tag @card.item.ph_one, :gravity=>"auto", :crop=>"fill",
                    :transformation=>[

                    {:overlay=>{:font_family=>"Arial", :font_size=>50, :text=>"#{@item.user.first_name} #{@item.user.last_name}"},
                    :gravity=>"south", :y=>100}
                    ], class: "standard-photo"%>
                  </div>
                  <% if @card.item.ph_two.present? %>
                    <a class="other" href="#verso">
                      <%= image_tag("icone_recto_verso.png", class: "icone") %>
                    </a>
                  <% end %>
                </div>
                <div id="verso">
                  <div class="visual">
                    <% if @card.item.ph_two.present? %>
                      <%= cl_image_tag @card.item.ph_two, :gravity=>"auto", :crop=>"fill",
                      :transformation=>[

                      {:overlay=>{:font_family=>"Arial", :font_size=>50,
                       :text=>"#{@item.user.first_name} #{@item.user.last_name}"},
                      :gravity=>"south", :y=>100}
                      ], class: "standard-photo"%>
                    <% end %>
                  </div>
                  <a class="other" href="#recto">
                    <%= image_tag("icone_recto_verso.png", class: "icone") %>
                  </a>
                </div>
              </div>
          </div>

        </div>

        <div class="card-infos">
            <h4><%= @card.ref_card.right_name %></h4>

          <% if @card.ref_card.fr_name.present? %>
            <p>de la série <%= @card.ref_card.list.fr_name %></p>
          <% else %>
            <p>de la série <%= @card.ref_card.list.us_name %></p>
          <% end %>

          <p><%= "Version : #{@card.version}" %></p>
          <p><%= @item.condition_label[@item.condition] %></p>


          <!-- <p> Langue :
            <%#= cl_image_tag("flags/#{@card.item.language_flag}", :width=>30, :crop=>"scale") %>
          </p> -->

          <p> Prix : <%= "#{@item.value} €" %></p>
          <%# if user_signed_in? %>
            <%# if current_user.search_cards.where(ref_card_id: @shop_card.ref_card_id, reved: @shop_card.reved).present? %>
              <!-- <div><%#= image_tag("icone_match.png", class: "icone-match") %></div> -->
            <%# end %>
          <%# end %>


        </div>
      </div>



    </div>
  </div>
</div>
