<div class="container">

  <%= render partial: "search_cards/header" %>

  <div class="search_cards-container">

        <% @lists.each do |list| %>
          <div class="dropdown">
            <% if list.search_cards.where(user_id: current_user.id).count > 0 %>
              <button class="btn btn-secondary dropdown-toggle list-header_mini" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= list.fr_name %>
                <%= "(#{list.size})" %>
                <%= image_tag(list.symbol_url, height: '20')%>
                <%= list.search_cards.count %>
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <% list.search_cards.where(user_id: current_user.id).order("ref_card_id asc").each do |search_card| %>
                  <div class="dropdown-item">
                    <table>
                      <tr>
                        <td id="name">
                          <%= link_to ref_card_path(search_card.ref_card) do %>
                            <% if search_card.ref_card.fr_name.present? %>
                              <%= search_card.ref_card.fr_name %>
                            <% else %>
                              <%= search_card.ref_card.us_name %>
                            <% end %>
                          <% end  %>
                        </td>
                        <td id="number"><%= search_card.ref_card.number %></td>
                        <td id="rarety">
                          <% if search_card.ref_card.rarety_type == "Common"%>
                            <%= "Co" %>
                          <% elsif search_card.ref_card.rarety_type == "Uncommon"%>
                            <%= "Unco" %>
                          <% elsif search_card.ref_card.rarety_type == "Rare"%>
                            <%= "Rare" %>
                          <% elsif search_card.ref_card.rarety_type == "Rare Holo"%>
                            <%= "Holo" %>
                            <% elsif search_card.ref_card.rarety_type == "Ultra"%>
                              <%= search_card.ref_card.ultra_type %>
                            <% elsif search_card.ref_card.rarety_type == "Secret"%>
                            <%= "Secrête" %>
                          <% end %>
                        </td>
                        <td id="language"><%= search_card.language %></td>
                        <td id="version">
                          <% if search_card.reved? %>
                            <% if search_card.ref_card.list.reved_name == "reverse" %>
                              <%= "R" %>
                            <% else %>
                              <%= "Éd1" %>
                            <% end %>
                          <% else %>
                            <%= "N" %>
                          <% end %>
                        </td>
                        <td id="close">
                          <%= link_to search_card_path(search_card), method: :delete do %>
                            <%= image_tag("icone_poubelle.png", class: "icone-delete") %>
                          <% end %>
                        </td>
                      </tr>
                    </table>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

  </div>
</div>
