<div class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="new_search_card-container">
      <div class="new_search_card-body">


          <div class="card-visuals">
            <div class="title">
              <h5>Nouvelle recherche :</h5>
              <h5><%= @ref_card.fr_name %></h5>
            </div>
            <div class="visual">
              <% if @ref_card.fr_url.present? %>
                <%= image_tag(@ref_card.fr_url, class: "standard") %>
              <% elsif @ref_card.fr_r_url.present? %>
                <%= image_tag(@ref_card.fr_r_url, class: "standard") %>
              <% else %>
                <%= image_tag(@ref_card.us_url, class: "standard") %>
              <% end %>
            </div>
          </div>


            <%= simple_form_for [@ref_card, @search_card] do |f| %>
              <div class="search-form">
                <% if @ref_card.list.reved? %>
                  <% if @ref_card.list.reved_name == "édition 1" %>
                    <div class="reved">
                      <%= f.input_field :reved,
                        :collection => [
                          [false, "normale (#{@normal_saved})"],
                          [true, "édition1 (#{@reved_saved})"]],
                        :label_method => :last,
                        :value_method => :first,
                        :as => :radio_buttons,
                        :item_wrapper_class => 'inline',
                        :checked => false
                      %>
                    </div>
                  <% elsif @ref_card.list.reved_name == "reverse" %>
                    <% if @ref_card.rarety_type != "Ultra" %>
                      <% if @ref_card.rarety_type != "Secret" %>
                        <div class="reved">
                          <%= f.input_field :reved,
                            :collection => [
                              [false, "normale (#{@normal_saved})"],
                              [true, "reverse (#{@reved_saved})"]],
                            :label_method => :last,
                            :value_method => :first,
                            :as => :radio_buttons,
                            :item_wrapper_class => 'inline',
                            :checked => false
                          %>
                        </div>
                      <% end  %>
                    <% end  %>
                  <% end  %>
                <% end  %>
                <div class="condition">
                  <%= f.label(:condition, "état minimum") %>
                  <%= f.select :condition, options_for_select([["Mauvais", 1], ["Moyen", 2], ["Bon", 3], ["Très bon", 4], ["Neuf", 5]],
                  ["Bon", 3])%>
                </div>
                <div class="language">
                  <%= f.label(:language, "langue") %>
                  <% if @ref_card.list.french? %>
                      <%= f.select :language, options_for_select(
                        ["français", "anglais", "allemand", "italien", "espagnol", "japonais" ],
                        ["français"]) %>
                    <% else %>
                      <%= f.select :language, options_for_select(
                          ["anglais", "allemand", "italien", "espagnol", "japonais" ],
                          ["anglais"]) %>
                    <% end %>
                  </div>
                <div class="search-submit">
                  <%= f.submit "Ajouter à mes recherches", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>



      </div>
    </div>
  </div>

</div>

