<div class="container">
  <% if @search_card.ref_card.fr_name.present? %>
    <h4><%= @search_card.ref_card.fr_name %></h4>
  <% else %>
    <h4><%= @search_card.ref_card.us_name %></h4>
  <% end %>


  <% if @search_card.ref_card.pokedex_number.present? %>
    <p>Numéro Pokédex : <%= @search_card.ref_card.pokedex_number %></p>
  <% end %>


  <% if @search_card.ref_card.fr_url.present? %>
    <%= image_tag(@search_card.ref_card.fr_url, class: "pokemon-card-standard") %>
    <p>Version normale française</p>
  <% elsif @search_card.ref_card.fr_r_url.present? %>
    <%= image_tag(@search_card.ref_card.fr_r_url, class: "pokemon-card-standard") %>
    <p>Version reverse/édition1 française</p>
  <% else %>
    <%= image_tag(@search_card.ref_card.us_url, class: "pokemon-card-standard") %>
    <p>Version anglaise</p>
  <% end %>
  <%= link_to "Retirer", search_card_path(@search_card),
      :class => "btn btn-danger",
      method: :delete %>
</div>

