<div class="navbars">
  <nav class="main-navbar">

    <%= link_to root_path do %>
      <div class="navbar-item">
        <%= image_tag("name_pnr.png", class: "startup-name") %>
      </div>
    <% end %>

    <div>
      <div class="navbar-item">
        <%= link_to lists_path do%>
          séries
          <%= image_tag("flag/fr_flag.png", height: "20") %><%= image_tag("flag/uk_flag.png", height: "20") %>
        <% end %>
      </div>
    </div>
    <div>
      <div class="navbar-item">
        <%= link_to jap_lists_path do%>
          séries
          <%= image_tag("flag/jap_flag.png", height: "20") %>
        <% end %>
      </div>
    </div>

  </nav>
</div>
