<div class="navbars">
  <nav class="main-navbar">

    <%= link_to root_path do %>
      <div class="navbar-item">
        <%= image_tag("name_pnr.png", class: "startup-name") %>
      </div>
    <% end %>

    <div><%= link_to "Annonces", cards_path, class: "navbar-item" %></div>

    <div><%= link_to "Pokéthèque", series_path, class: "navbar-item" %></div>

    <div><%= link_to "Recherche", ref_cards_path, class: "navbar-item" %></div>

    <% if user_signed_in? %>

      <div class="navbar-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="current_user_name-navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Magasin", shop_user_path(current_user) %>
          <div>
            <% if current_user.has_sellers  %>
              <%= link_to "Panier (#{current_user.selected_items.count})",
                panier_seller_path(current_user.default_seller)
              %>
            <% end %>
          </div>
          <div>
            <% if current_user.has_buyers(current_user)  %>
            <%= link_to "Demandes (#{current_user.buyers(current_user).count})",
                demande_buyer_path(current_user.default_buyer(current_user))
              %>
            <% end %>
          </div>
          <div>
            <% if current_user.items.search.count > 0 %>
            <%= link_to "Recherches",
                search_cards_path(current_user)
              %>
            <% end %>
          </div>
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
        </div>
      </div>

    <% else %>
      <div>
        <%= link_to "Connexion", new_user_session_path, class: "navbar-item"%>
      </div>
    <% end %>

  </nav>
</div>


