<div class="navbars">
  <nav class="main-navbar">

    <%= link_to root_path do %>
      <div class="navbar-item">
        <%= image_tag("name_pnr.png", class: "startup-name") %>
      </div>
    <% end %>

    <div><%= link_to "Séries", lists_path, class: "navbar-item" %></div>

    <% if user_signed_in? %>

      <div class="navbar-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="current_user_name-navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>

    <% else %>
      <div>
        <%= link_to "Connexion", new_user_session_path, class: "navbar-item"%>
      </div>
    <% end %>

  </nav>
</div>


